
<div class='pull-right login'> 
	<div class="loginLine form-inline" data-bind="visible: !registrationVisible()">
		<span data-bind="visible: !loggedIn()" >
			<input class="form-entry form-control" 
					id="username" 
					data-bind="textInput: username" 
					placeholder="Username" 
					autofocus />
			<input class="form-entry form-control " 
					type='password' 
					data-bind="textInput: password, event: {keyup: enterForLogin}" 
					placeholder="Password" />
			<span class="navbar-right">
				<button class='btn btn-sm' data-bind="click: login">Login</button>
				or <button class='btn btn-sm' data-bind="click: setupRegistration">Register</button>
			</span>
		</span>
		<span class="logout" data-bind="visible: loggedIn()" >
			<span class="form-control" data-bind="text: username"></span>
			<button class='btn btn-sm' data-bind="click: logout">Logout</button>
		</span>
	</div>
	<p class="text-warning left-margin-10 top-margin-10" data-bind="text: loginMessage"></p>
</div>	
