body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00BBFF;
}

.brand {
    float: left;
    background: url(/images/sportsrankinglogo.gif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
    margin: 10px;
}

.navbar-toggle {
    margin: 12px;
}

.navbar-header {
    margin: 20px
}

.login {
    margin:10px;
    padding: 20px 0;
}

.loginLine input {
    margin:0 2px 2px 2px;
    border-radius: 4px;
    font-size: 14px;
}

.loginLine button {
    margin:2px 0 0 4px;
}

.logout button {
    margin:0;
}

.form-entry {
    width: 200px;
}

.top-margin-10 {
    margin-top: 10px;
}

.left-margin-10 {
    margin-left: 10px;
}

h1.error-message{
    color: red;
}
ul.user-details{
    font-size: 14px;
    list-style: none;
}