<!--<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>


<div class='container'>
	<div class="jumbotron">
			<h1 class='login-title'>Register your details</h1>
			<form class='signin', action='/signup', method='POST'>
				<input type='text' name='username' class='form-control' placeholder='Username' required autofocus/>
				<input type='password' name='password' class='form-control nomargin' placeholder='Password' required/>
				<input type='email' name='email' class='form-control' placeholder='Email' required/>
				<input type='text' name='firstName' class='form-control' placeholder='First Name' required/>
				<input type='text' name='lastName' class='form-control' placeholder='Last Name' required/>
				<button class='btn btn-lg btn-primary btn-block' type='submit'>Register</button>
			</form>
			<div id='message'>
				<h1 class='text-center error-message' <%= message %></h1>
			</div>	
	</div>			
</div>
		
<footer>
    <% include ../partials/footer %>
</footer>
    
</body>
</html>-->