<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
<!--         <a href='/signup' class='text-center sign-up'>Sign Up</a>-->
       
        <form class='signin', action='/login', method='POST'>
			<input type='text' id='username' name='username' class='form-control' placeholder='Username' required  autofocus />
			<input type='password' id='password' name='password' class='password form-control' placeholder='Password' required />
			<button class='btn btn-lg btn-primary btn-block' type='submit'>Sign in</button>
        </form>
        
        <div id="message">
    		<h1 class="text-center error-message"><%= message %></h1>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
    
</body>
</html>


